a {
    background-color: brown;
    color: black;
    text-decotation: none;
    text-transformation: uppercase;
    }

.isdestymas {
background: blue;
width: 800px;
margin-left: auto;
margin-right: auto;
}
