main {
    display: block;
}

.sachmatai > div {
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 10px;
    float: left;
}

.sachmatai > div:nth-child(5n+1){
    clear: left;
}

.sachmatai > div.nth-child(4n+2){
    background-color: lightblue;
}